#wrapper {
	width: 1440px;
	margin: 0 auto;
	background: url:("");
}

body {
	margin:0 auto;
}

.navbar {
	width: 100px;
	position: fixed;
	float: left;
}

.navbar ul {
	list-style-type: none;
}

.maincontent {
	background-color: blue;
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}

.gutterleft {
	background-color: orange;
	width: 220px;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 1220px;
	z-index: -1;
}

.gutterright {
	background-color: red;
	width: 220px;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: -1;
}

.footer {

}