.icon-social-twitter, .icon-social-linkedin, .icon-social-github, .icon-social-instagram, .icon-notebook, .icon-envelope-letter {
  font-size: 3vw;
  color: #3F5CA1;
  transition: all 0.5s;
  text-decoration: none;
  list-style-type: none;
  padding: 1vw; }

.icon-social-twitter:hover, .icon-social-linkedin:hover, .icon-social-github:hover, .icon-social-instagram:hover, .icon-notebook:hover, .icon-envelope-letter:hover {
  color: #15337A;
  transition: all 0.5s; }

nav ul li a, .maincontent-page2 a, .maincontent-page3 a {
  display: inline-block;
  font-size: 1.3vw;
  text-decoration: none;
  color: #FFF;
  margin: 1vw;
  transition: all 0.5s;
  padding: .3vw;
  border-radius: 5px; }

nav ul li a:hover, .maincontent-page2 a:hover, .maincontent-page3 a:hover {
  color: #15337A;
  transition: all 0.5s;
  background-color: #FFF; }

* {
  margin: 0px;
  padding: 0px; }

html {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  background-color: #DCEDEB;
  font-family: 'Open sans', sans-serif;
  color: #0E3577;
  height: 100%; }

.container {
  min-height: 100%;
  margin: 0 auto; }

.socialmediabar {
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 45vw;
  background-color: #FB9B70;
  position: fixed;
  bottom: 2vw;
  left: 0px;
  z-index: 10;
  height: 6vw;
  border-radius: 10px; }
  .socialmediabar ul {
    text-align: center;
    padding: initial; }
  .socialmediabar ul li {
    display: inline-block;
    list-style-type: none;
    padding: 1vw;
    line-height: 5vw; }
  .socialmediabar ul li a {
    text-decoration: none; }

nav {
  text-align: center;
  position: fixed;
  background-color: #355DA1;
  display: inline-block;
  margin: 0px;
  width: 100%;
  z-index: 11; }
  nav ul {
    padding: 1vw;
    margin: .3vw; }
  nav ul li {
    list-style-type: none;
    display: inline-block; }
  nav ul li a {
    margin-right: 4vw;
    margin-left: 4vw; }

.maincontent {
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding-bottom: 100px;
  margin: 0px;
  padding: 2vw;
  top: 7vw;
  left: 12vw;
  width: 70vw; }
  .maincontent h1 {
    font-size: 5vw;
    letter-spacing: 1vw; }
  .maincontent h3 {
    margin-top: 5vw; }
  .maincontent .para-content {
    margin: 0 auto;
    width: 40vw; }
  .maincontent .para-content p {
    text-align: justify;
    margin-top: 5vw; }
  .maincontent .para-content .bottom-para {
    margin-bottom: 10vw; }

.maincontent-page2 {
  margin: 0 auto;
  padding-bottom: 100px;
  padding-top: 11vw;
  text-align: center; }
  .maincontent-page2 .project {
    background-color: #6A458D;
    width: 40vw;
    margin: 0 auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
    border-radius: 10px;
    padding: 1.5vw; }

.maincontent-page3 {
  margin: 0 auto;
  padding-top: 10vw;
  width: 65vw;
  padding-bottom: 100px;
  top: 11vw; }
  .maincontent-page3 .mainright p {
    margin: 0 auto;
    width: 40vw;
    text-align: justify;
    margin-top: 1vw; }
  .maincontent-page3 .mainright h3 {
    text-align: center; }
  .maincontent-page3 .mainleft p {
    margin: 0 auto;
    width: 40vw;
    text-align: justify;
    margin-top: 1vw; }
  .maincontent-page3 .mainleft h3 {
    text-align: center; }
  .maincontent-page3 a {
    margin: 0;
    padding: .1vw; }

/*# sourceMappingURL=main.css.map */
