#wrapper {
	width: 1440px;
	margin: 0 auto;
}

body {
	margin: 0 auto;
	font-family: 'Open sans', sans-serif;
}

h1 {	
	text-align: center;
	margin: 0 auto;
	position: inline;
	font-weight: 800;
	letter-spacing: 15px;
	font-size: 400%;
	color: #FFD279;
}

.socialmediabar {
	width: 120px;
	position: fixed;
	float: left;
}

.socialmediabar ul {
	list-style-type: none;
	padding-left: 5px;
	margin-left: 25px;
}

.socialmedia {
	border-radius: 12px;
	margin: 5px;
}

.socialmedia:hover {
	box-shadow: 5px 5px 5px #789FAB;
}

.navbarlink {
	text-decoration: none;
}

nav ul {
	padding-left: 5px;
}

nav {
	position: fixed;
	top: 50px;
	right: 50px;
}

nav li {
	list-style-type: none;
	text-align: center;
	margin-top: 20px;
	padding: 10px;
	background-color: #F7B798;
	border-radius: 12px;
}

nav li:hover {
	background-color: #E39C4A;
}

nav li:hover a {
	color: #8F4100;
}

nav li a {
	color: #A46206;
}

.maincontent {
	margin: 0 auto;
	width: 1000px;
}

.maincontent h3 {
	letter-spacing: 1px;
	text-align: center;
	color: #FFD279
}

img {
	display: inline-block;
	float: left;
	margin: 10px;
	border-radius: 12px;
}

.backgroundmid {
	background-color: #058F8F;
	width: 1000px;
	height: 2200px;
	margin: 0 auto;
	position: absolute;
	top: 0px;
	right: 220px;
	z-index: -1;
}

.gutterleft {
	background-color: #0B438D;
	width: 220px;
	height: 2200px;
	position: absolute;
	top: 0px;
	right: 1220px;
	z-index: -1;
}

.gutterright {
	background-color: #D57E04;
	width: 220px;
	height: 2200px;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: -1;
}

footer {
	width: 1000px;
	height: 50px;
	clear: both;
	text-align: center;
	background-color: #E7A404;
	position: fixed;
	bottom: 0px;
	left: 220px;
	color: #058F8F;
}
