@import 'colors';
@import 'line-icons';
/*standard text font family*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,400italic,700);
/*title text font*/
@font-face {
	font-family: 'telegrafico';
	src: url('../fonts/telegrafico.ttf');
}

%content {
	margin: auto;
	width: 700px;

	h1, h2, h3 {
		margin: 20px auto 20px auto;
		text-align: center;
	}
	
	p {
		margin: 0px 20px 5px 20px;
	}
}

%a-tag {
	display: inline-block;
	font-size: 15px;
	text-decoration: none;
	color: #FFF;
	margin: 10px;
	transition: all 0.5s;
	padding: 10px;
	border-radius: 5px;
}

%a-tag-hover {
	color: $color-link-hover;
	transition: all 0.5s;
	background-color: #FFF;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: $color-background;
	font-family: "Raleway", Georgia, serif;
	color: $font-color;
	p {
		font-size: 110%;
		line-height: 25px;
		text-align: justify;
	}
}

// all headings have telegrafico font
h1, h2, h3 {
	font-family: "telegrafico", Georgia, serif;
}


.socialmediabar {
	//for centering a fixed element
	right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 450px;
	background-color: $color-side-bar;
	position: fixed;
	bottom: 15px;
	left: 0px;
	z-index: 10;
	height: 75px;
	border-radius: 10px;

	//this gets ride of the 40px padding that comes with ul
	ul {
		text-align: center;
		margin-top: 10px;
	}
	ul li {
		display: inline-block;
		list-style-type: none;
		margin: 10px;
	}
	ul li a {
		text-decoration: none;
	}
}

nav {
	text-align: center;
	position: fixed;
	background-color: $color-top-bar;
	display: inline-block;
	margin: 0px;
	width: 100%;
	z-index: 11;

	ul {
		padding: 10px;
		margin: 3px;
	}
	ul li {
		list-style-type: none;
		display: inline-block;
	}

	ul li a {
		@extend %a-tag;
		margin-right: 30px; 
		margin-left: 30px;
		font-size: 30px;
	}

	ul li a:hover {
		@extend %a-tag-hover;
	}
}
.clearfix-top {
	height: 150px;
}

#mainContent {
	@extend %content;
	.hello {
		text-align: center;
		margin-bottom: 20px;
		font-size: 20px;
	}
	a {
		@extend %a-tag;
		color: #002A3A;
		margin: 0px;
		padding: 0px;
		text-decoration: underline;
		font-size: 110%;
	}
	a:hover {
		@extend %a-tag-hover;
		margin: 0px;
		padding: 0px;
		color: tomato;
	}
	.bottom-para {
		margin: 25px auto 50px auto;
	}
}

#portfolio {
	@extend %content;
	a {
		@extend %a-tag;
		color: #002A3A;
		margin: 0px;
		padding: 0px;
		font-size: 125%;
		text-decoration: underline;
		margin: 10px auto 10px auto;
	}
	a:hover {
		@extend %a-tag-hover;
		margin: 0px;
		padding: 0px;
		color: tomato;
	}

	.portfolioDescription {
		margin: auto;
		width: 500px;
		text-align: center;
		margin-bottom: 20px;
	}

	.project5 {
		margin-bottom: 100px;
	}
}

#about {
	@extend %content;
	.travels, .devInterests, .otherInterests {
		text-align: left;
	}
	p {
		text-align: center;
	}
	a {
		@extend %a-tag;
		color: #002A3A;
		margin: 0px;
		padding: 0px;
		text-decoration: underline;
	}
	a:hover {
		@extend %a-tag-hover;
		margin: 0px;
		padding: 0px;
		color: tomato;
	}
}

#lastUpdated {
	#footer {
		margin: 100px auto auto auto;
		text-align: center;
	}
}

.clearfix-bottom {
	height: 150px;
}


