@import 'colors';
@import 'line-icons';

%a-tag {
	display: inline-block;
	font-size: 1.3vw;
	text-decoration: none;
	color: #FFF;
	margin: 1vw;
	transition: all 0.5s;
	padding: .3vw;
	border-radius: 5px;
}

%a-tag-hover {
	color: $color-link-hover;
	transition: all 0.5s;
	background-color: #FFF;
}

* {
	margin: 0px;
	padding: 0px;
}

html {
	margin:0;
	padding:0;
	height:100%;
}

body {
	background-color: $color-background;
	font-family: 'Open sans', sans-serif;
	color: $font-color;
	height: 100%;
}

.container {
	min-height:100%;
	margin: 0 auto;
}

.socialmediabar {
	//for centering a fixed element
	right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 45vw;
	background-color: $color-side-bar;
	position: fixed;
	bottom: 2vw;
	left: 0px;
	z-index: 10;
	height: 6vw;
	border-radius: 10px;

	//this gets ride of the 40px padding that comes with ul
	ul {
		text-align: center;
		padding: initial;
	}
	ul li {
		display: inline-block;
		list-style-type: none;
		padding: 1vw;
		line-height: 5vw;
	}
	ul li a {
		text-decoration: none;
	}
}

nav {
	text-align: center;
	position: fixed;
	background-color: $color-top-bar;
	display: inline-block;
	margin: 0px;
	width: 100%;
	z-index: 11;

	ul {
		padding: 1vw;
		margin: .3vw;
	}
	ul li {
		list-style-type: none;
		display: inline-block;
	}

	ul li a {
		@extend %a-tag;
		margin-right: 4vw; 
		margin-left: 4vw;
	}

	ul li a:hover {
		@extend %a-tag-hover;
	}
}

.maincontent {
	margin: 0 auto;
	position: relative;
	text-align: center;
	padding-bottom: 100px;
	margin: 0px;
	padding: 2vw;
	top: 7vw;
	left: 12vw;
	width: 70vw;

	h1 {
		font-size: 5vw;
		letter-spacing: 1vw;
	}

	h3 {
		margin-top: 5vw;
	}

	.para-content {
		margin: 0 auto;
		width: 40vw;
	}

	.para-content p {
		text-align: justify;
		margin-top: 5vw;
	}

	.para-content .bottom-para {
		margin-bottom: 10vw;
	}
}

.maincontent-page2 {
	margin: 0 auto;
	padding-bottom: 100px;
	padding-top: 11vw;
	text-align: center;

	.project {
		background-color: #6A458D;
		width: 40vw;
		margin: 0 auto;
		margin-top: 2vw;
		margin-bottom: 2vw;
		border-radius: 10px;
		padding: 1.5vw;
	}

	a {
		@extend %a-tag;
	}

	a:hover {
		@extend %a-tag-hover;
	}

}

.maincontent-page3 {
	margin: 0 auto;
	padding-top: 10vw;
	width: 65vw;
	padding-bottom: 100px;
	top: 11vw;

	.mainright p {
		margin: 0 auto;
		width: 40vw;
		text-align: justify;
		margin-top: 1vw;
	}

	.mainright h3 {
		text-align: center;
	}

	.mainleft p {
		margin: 0 auto;
		width: 40vw;
		text-align: justify;
		margin-top: 1vw;
	}

	.mainleft h3 {
		text-align: center;
	}

	a {
		@extend %a-tag;
		margin: 0;
		padding: .1vw;
	}

	a:hover {
		@extend %a-tag-hover;
	}
}





