@import 'colors';
@import 'line-icons';
/*standard text font family*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,400italic,700);
/*title text font*/
@font-face {
	font-family: 'telegrafico';
	src: url('../fonts/telegrafico.ttf');
}


%a-tag {
	display: inline-block;
	font-size: 1.3vw;
	text-decoration: none;
	color: #FFF;
	margin: 1vw;
	transition: all 0.5s;
	padding: .3vw;
	border-radius: 5px;
}

%a-tag-hover {
	color: $color-link-hover;
	transition: all 0.5s;
	background-color: #FFF;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: $color-background;
	font-family: "Raleway", Georgia, serif;
	color: $font-color;
	height: 100%;
}

// all headings have telegrafico font
h1, h2, h3 {
	font-family: "telegrafico", Georgia, serif;
}


.socialmediabar {
	//for centering a fixed element
	right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 45vw;
	background-color: $color-side-bar;
	position: fixed;
	bottom: 2vw;
	left: 0px;
	z-index: 10;
	height: 6vw;
	border-radius: 10px;

	//this gets ride of the 40px padding that comes with ul
	ul {
		text-align: center;
		padding: initial;
	}
	ul li {
		display: inline-block;
		list-style-type: none;
		padding: 1vw;
		line-height: 5vw;
	}
	ul li a {
		text-decoration: none;
	}
}

nav {
	text-align: center;
	position: fixed;
	background-color: $color-top-bar;
	display: inline-block;
	margin: 0px;
	width: 100%;
	z-index: 11;

	ul {
		padding: 1vw;
		margin: .3vw;
	}
	ul li {
		list-style-type: none;
		display: inline-block;
	}

	ul li a {
		@extend %a-tag;
		margin-right: 4vw; 
		margin-left: 4vw;
	}

	ul li a:hover {
		@extend %a-tag-hover;
	}
}

.maincontent {
}





